{% include 'header.html' %}

<div id="wrapper">
    <h1>
        <a href="{{ settings.siteinfo.basedir }}">
        {{ settings.siteinfo.title }} - {{ settings.siteinfo.subtitle }}
        </a>
    </h1>

    <hr>

    <div id="home-posts">
        {% for post in content %}

            <h1 class="post-title">
                <a href="{{ post.link }}">
                    {{ post.title }}
                </a>
            </h1>
            <div class="post-body">{{ post.body | raw }}</div>

        {% endfor %}
    </div>
</div>

</body>
</html>